
body{
    background-color:lightsalmon;
    color: rgb(0, 0, 0);
    font-family: 'Neucha', cursive;
    
}

.titulo{
    color: #a53960;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    font-size: 60px;
}

a{
    color: #c00353;
    text-decoration: none;
        
}

img {
    /* width es ancho y  height es alto */
        width: 400px;  
        align-items: center;
        border-radius: 20px;  
        margin-left: 37%;
}
    
.axoPinterest{
        width:400px;
        display: flex;
        margin-left: 37%;
        border-radius: 20px;
}

p{
    color:rgb(56, 5, 88);
    text-align:justify;
}

ul, ol{
    color:mediumvioletred;
}

h3{
    color:darkslateblue;
    text-align: center;
    background-color: #fff1cf;
}

.menu{
    display: flex;
    align-items: center;
    background-color: #ffc2ce;
    flex-direction: column;
    border-radius: 20px;
    
}



/*
selector { " body es un selector "
    propiedad: valor;
}

*/

